<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.wms_backend.mapper.SystemSettingsMapper">
    <resultMap id="SystemSettingsResultMap" type="org.example.wms_backend.entity.SystemSettings">
        <id property="id" column="id"/>
        <result property="settingKey" column="settingKey"/>
        <result property="settingValue" column="settingValue"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select id="selectByKey" resultMap="SystemSettingsResultMap">
        SELECT * FROM system_settings WHERE settingKey = #{settingKey}
    </select>

    <insert id="insert" parameterType="org.example.wms_backend.entity.SystemSettings" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO system_settings (settingKey, settingValue)
        VALUES (#{settingKey}, #{settingValue})
    </insert>

    <update id="updateByKey" parameterType="org.example.wms_backend.entity.SystemSettings">
        UPDATE system_settings SET settingValue = #{settingValue} WHERE settingKey = #{settingKey}
    </update>
</mapper>
